@charset "UTF-8";
#title{
	width:50%;
	background-color:#63D2FF;
	height:150px;
	margin-left:25%;
	color:black;
}
#content{
	width:50%;
	background-color:#FFD885;
	height:400px;
	margin-left:25%;
	color:black;
}
#footer{
	width:50%;
	background-color:#DD4048;
	height:100px;
	margin-left:25%;
	color:black;
}